
.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 20px;
    transition: width 1s ;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: width 3s ;
}
.box1:hover{
    width: 50vh;
}
.box2:hover{
    width: 50vh;
}