.container{
    width: 600px;
    height: 600px;
    border: solid;
}
.text1{
    font-size: 20px;
}

.container:hover .text1 {
    animation-name: text1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes text1 {
    0%   {top: 0px; right: 0px;}
    25%  {top: 0px; left: 0px;}
    50%  {bottom: 0px; left: 0px;}
    75%  {bottom: 0px; right: 0px;}
    100% {top: 0px;right: 0px;}
}
